extends layout

block content
	.clock
		p: span.clock-status
	.main

		.left.container
			.buttons
				button(onclick="", data-from="Brann stadion, bybanestopp (Bergen)", data-to="Byparken, bybanestopp (Bergen)", data-silent="false").btn Bybanetider til Byparken med stemme
					i.fa.fa-volume-up
				button(onclick="", data-from="Brann stadion, bybanestopp (Bergen)", data-to="Byparken, bybanestopp (Bergen)", data-silent="true").btn Bybanetider til Byparken uten stemme
					i.fa.fa-volume-off.fa-red
				button(onclick="", data-from="Brann stadion, bybanestopp (Bergen)", data-to="Bergen lufthavn Flesland (Bergen)", data-silent="false").btn Bybanetider til Flesland med stemme
					i.fa.fa-volume-up
				button(onclick="", data-from="Brann stadion, bybanestopp (Bergen)", data-to="Bergen lufthavn Flesland (Bergen)", data-silent="true").btn Bybanetider til Flesland uten stemme
					i.fa.fa-volume-off.fa-red
		.right.container
			h4.status
			.time-table


