extends layout

block content
	.container
		.clock
			p: span.clock-status
		.row
			.col-sm-12.col-md-4
				
				button.btn.infoBtn#soundBtnOnOff Lyd på
					i.fa.fa-volume-up.fa-green
				.buttons
					button(onclick="", data-from="Brann stadion, bybanestopp (Bergen)", data-to="Byparken, bybanestopp (Bergen)", data-silent="false").btn.timeTableBtn Bybanetider til Byparken 

					button(onclick="", data-from="Brann stadion, bybanestopp (Bergen)", data-to="Bergen lufthavn Flesland (Bergen)", data-silent="false").btn.timeTableBtn Bybanetider til Flesland

				
			.col-sm-12.col-md-8
				h4.status
				.time-table
		.row
			.col-sm-12.col-md-12
				.weather
					div#weatherChart


