doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
    meta(name="viewport" content="width=device-width, initial-scale=1")
  body
    header
        img(src="https://www.skyss.no/globalassets/bilder/toppbilder-desktop-og-mobil/2017/host_f_3.jpg")
    block content

    script(type='text/javascript', src="javascripts/libraries/momentWithLocals.js")    
    script(type='text/javascript', src="javascripts/functions.js")
